<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  {{{body}}}
    <h1>Usuário Cadastrado com Sucesso</h1>

    <p>O nome do usuário é {{user.nome}} e o seu E-mail é {{user.email}}</p>
</body>
</html>